/*
 * Global layout stuff
 */
html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "sans-serif";
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #F4F1EC;
  font-size: 24px;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */
.container {
  width: 90%;
  margin: auto;
  background-color: #F4F1EC;
}
