.new-tweet{
  margin-top: 3rem;
}

#tweet-text {
  border: none;
  border-bottom: 4px solid black;
  background: transparent;
  width: 100%;
  outline: none; 
  resize: none;
  height: 50px;
}

.form-toggle {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.form-toggle:hover {
  cursor: pointer;
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-5px); }
100% { transform: translateY(0); }
}

.tweet-stats {
  display: flex;
  justify-content: space-between;
  font-family: "bungee";
}

#tweet-btn {
  background-color: #4056A1;
  border: none;
  padding: 5px 10px;
  color: #FFFFFF;
}

.error {
  color: red;
  font-weight: bold;
  text-shadow: 1px 1px red;
  margin: 0;
  display: none;
}      